@use 'sass:color';

$primary-color: lighten(black, 10%);
$link-color: scale-color(
        $color: adjust-hue(blue, -27deg),
        $saturation: -9.8%,
        $lightness: -11.8%);
$page-link-color: adjust-color($color: $link-color,
        $hue: -64,
        $saturation: 10%,
        $lightness: -15%);
$header-color: scale-color($primary-color,
        $lightness: +25%);
$footer-color: scale-color($primary-color,
        $lightness: +33.33%);


body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    max-width: 56rem;
    margin: 2rem auto;
    line-height: 1.6;
    padding: 0 1rem;
    color: $primary-color;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
}

header p {
    color: $header-color;
    margin-top: 0.25rem;
}

a {
    color: $link-color;
    text-decoration: none;
}

nav.pages a {
    color: $page-link-color;
}

a:hover {
    text-decoration: underline;
}

footer {
    color: $footer-color;
    margin-top: 2rem;
    font-size: 0.9rem;
}